<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>httpServletDemo1</servlet-name>
        <servlet-class>servlet.HttpServletDemo1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletDemo1</servlet-name>
        <url-pattern>/httpServletDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>httpServletDemo1</servlet-name>
        <url-pattern>/1.html</url-pattern>
    </servlet-mapping>

   <!-- <servlet-mapping>
        <servlet-name>httpServletDemo1</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>-->

    <servlet>
        <servlet-name>httpServlet2</servlet-name>
        <servlet-class>servlet.HttpServletDemo2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpServlet2</servlet-name>
        <url-pattern>/httpServlet2</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>httpServlet3</servlet-name>
        <servlet-class>servlet.httpServletDemo3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpServlet3</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>httpServletDemo4</servlet-name>
        <servlet-class>servlet.httpServletDemo4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpServletDemo4</servlet-name>
        <url-pattern>/httpServletDemo4</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servlet5</servlet-name>
        <servlet-class>servlet.ServletDemo5</servlet-class>
        <init-param>
            <param-name>data1</param-name>
            <param-value>aa</param-value>
        </init-param>
        <init-param>
            <param-name>data2</param-name>
            <param-value>bb</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet5</servlet-name>
        <url-pattern>/servlet5</url-pattern>
    </servlet-mapping>
</web-app>